/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh;  }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100%;
}

app-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
  background: red;
}
/*
router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
*/
